
*{

    padding : 0;
    margin: 0;

}

.log-in-container{
    width: 60vw;
    height: 80vh;
    background-color: #ccc;
    overflow-y: hidden;
    margin-top: 10vh;
    margin-left: 20vw;
    border-radius: 20px;

}

.log-in-container h1{
    margin-bottom: 12vh;
    margin-top: 8vh;
    background-color: #ccc;
}

.log-in-container input{
    height: 8vh;
    width: 30vw;
    padding-left: 4vw;
    border: 2px solid #000;
    border-radius: 15px;
    margin-bottom: 3vh;


}
.log-in-container button{
    margin-top: 1vh;
    height: 8vh;
    width: 10vw;
    border-radius: 5px;
}

.log-in-container span{
    margin-top: 2vh;
}
.forgot{

    margin-bottom: 1vh;
    background-color: transparent;

}

.no-account{
    margin-bottom: 1vh; 
    background-color: transparent;
  
}